<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="style/main.css">
<title>The Beer Project</title>
</head>

<body>
<div id="app">
    <div class="beerprojectweb">

      <header class="center f5 measure-wide lh-copy mb5-ns ph0-ns ph3">
                <h1 class="f-subheadline lh-solid ttu tc code relative mb5-ns mb4">
                  <div class="bottle absolute-ns">
                    <div class="bottle-face">
                      <svg
                        viewBox="0 0 220 860"
                        xmlns="http://www.w3.org/2000/svg"
                        class="logo"
                      >
                        <g fill="none" fill-rule="evenodd">
                          <path
                            d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z"
                            fill="#333"
                          ></path>
                          <path
                            fill="#00AFDB"
                            d="M20 440h180v340H20zM60 0h100v20H60z"
                            class="logo__label"
                          ></path>
                        </g>
                      </svg>
                    </div>
          
                    <div class="bottle-face">
                      <svg
                        viewBox="0 0 220 860"
                        xmlns="http://www.w3.org/2000/svg"
                        class="logo"
                      >
                        <g fill="none" fill-rule="evenodd">
                          <path
                            d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z"
                            fill="#333"
                          ></path>
                          <path
                            fill="#00AFDB"
                            d="M20 440h180v340H20zM60 0h100v20H60z"
                            class="logo__label"
                          ></path>
                        </g>
                      </svg>
                    </div>
          
                    <div class="bottle-face">
                      <svg
                        viewBox="0 0 220 860"
                        xmlns="http://www.w3.org/2000/svg"
                        class="logo"
                      >
                        <g fill="none" fill-rule="evenodd">
                          <path
                            d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z"
                            fill="#333"
                          ></path>
                          <path
                            fill="#00AFDB"
                            d="M20 440h180v340H20zM60 0h100v20H60z"
                            class="logo__label"
                          ></path>
                        </g>
                      </svg>
                    </div>
          
                    <div class="bottle-face">
                      <svg
                        viewBox="0 0 220 860"
                        xmlns="http://www.w3.org/2000/svg"
                        class="logo"
                      >
                        <g fill="none" fill-rule="evenodd">
                          <path
                            d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z"
                            fill="#333"
                          ></path>
                          <path
                            fill="#00AFDB"
                            d="M20 440h180v340H20zM60 0h100v20H60z"
                            class="logo__label"
                          ></path>
                        </g>
                      </svg>
                    </div>
                  </div>
                  <a class="black no-underline" id="beertit"> The Beer Store </a>
                </h1>
      </header>

<div class="beerfilter">
    <input type="text" class="searcher" id="beersearch" placeholder="search by any word" @keyup="callinput" autofocus />
</div>

      <div class="allbeers" >
        <div id="f1_container" v-for="beer in beers" class="beersquare">
          <div id="f1_card" class="shadow">

            <div class="front face" >
              <img class="pic" v-bind:src="beer.image_url">
              <h3 class="namez">{{beer.name}}</h3>
              <p class="tag">{{beer.tagline}}</p>
              <p class="abv">{{beer.abv}}%ABV</p>
            </div>
            <div class="back face enter" >
              <p class="desc">{{beer.description}}</p>
              <h4 class="tips">Brewers tips:</h4>
              <p class="tips">{{beer.brewers_tips}}</p>
              <h4 class="food">Food pairing:</h4>
              <ul id="foodlist" class="food">
                <li v-for="food in beer.food_pairing">{{food}}</li>
              </ul>
              <p>Contributed by:<br>{{beer.contributed_by}}</p>
            </div>

          </div>
        </div>
      </div>

      <div class="meme" id="meme">
        <h3 class="nope">Sorry, no beers found by that criteria</h3>
        <img class="beermeme" src="style/confused-beer_o_2122085.jpg" alt="confused beer">
      </div>



    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>